body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

select {

}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.33);
  padding: 2em;
  background: rgba(250, 250, 250, 0.9);
}

.modal * {
  box-sizing: border-box;
  display: block;
  margin: 0.5em auto;
  width: 80%;
}

.selects {
  display: flex;
  flex-direction: row;
}

.selects select:nth-child(1) {
  margin-right: 0.5em;
}

.modal button {

}

.profileWrapper {
  width: 7.5em;
  margin: 1em auto 2.5em auto;
}

.profileWrapper img {
  box-shadow: 0em 0em 0.15em 0em rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 100%;
  height: auto;
}

footer {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1em 1em;
  color: white;
  background: rgba(0, 0, 0, 0.5);
}

footer span.fa {
  font-size: 1.3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  float: left;
}
footer span.fa:nth-child(2) {
  margin-left: 2em
}
footer span.fa span {
  font-size: 0.75em;
  margin-left: 0.3em;
}
footer span.time {
  font-size: 1rem;
  float: right;
}
footer span {
  font-family: 'Open Sans', sans-serif;
}
